.App {
  min-height: 100vh;
  background: #333;
  display: grid;
  place-items: center;
}
.box-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: 200px;
}
.box {
  height: 100px;
  width: 50px;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.box + .box {
  margin-left: 30px;
}

.right.prev {
  animation: rightRotateToActive 0.5s linear forwards;
}

.right.next {
  animation: rightRotateNext 0.5s linear forwards;
}

.box.active.right {
  animation: rightRotateOffActive 0.5s linear forwards;
}
.left.prev {
  animation: leftRotateToActive 0.5s linear forwards;
}
.left.next {
  animation: leftRotateNext 0.5s linear forwards;
}

.left.box.box.active {
  animation: leftRotateOffActive 0.5s linear forwards;
}

.box.active {
  background-color: red;
  height: 200px;
  width: 100px;
}

@keyframes rightRotateOffActive {
  0% {
    transform: translateX(-130px);
    height: 100px;
    width: 50px;
  }
  100% {
    transform: translateX(0);
    height: 200px;
    width: 100px;
  }
}

@keyframes rightRotateNext {
  0% {
    transform: translateX(-130px);
    height: 200px;
    width: 100px;
  }
  100% {
    transform: translateX(0);
    height: 100px;
    width: 50px;
  }
}

@keyframes rightRotateToActive {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes leftRotateOffActive {
  0% {
    transform: translateX(130px);
    height: 100px;
    width: 50px;
  }
  100% {
    transform: translateX(0);
    height: 200px;
    width: 100px;
  }
}

@keyframes leftRotateNext {
  0% {
    transform: translateX(130px);
    height: 200px;
    width: 100px;
  }
  100% {
    transform: translateX(0);
    height: 100px;
    width: 50px;
  }
}

@keyframes leftRotateToActive {
  0% {
    transform: translateX(130px);
  }
  100% {
    transform: translateX(0);
  }
}
